body{
    margin: 0px;
    background-color: lightgray;
}

div{
    border: 1px solid black;
}

.header-line{
    z-index: 1;
    position: static;
    top: 0;
    width: 100%;
    background-color: rgb(230, 227, 227);
}

.page-logo{
    font-family: 'Smooch', cursive;
    font-size: 30px;
    color: gray;
    display: flex;
    align-items: center;
}

.new-post-box{
    display: flex;
    justify-content: right;
}

.button-standard{
    background-color: rgb(59, 230, 59);
    border: 0px;
}

.button-standard:hover{
    background-color: rgb(29, 175, 29);
}

.button-standard:active{
    background-color: rgb(29, 175, 29);
}

.button-standard:focus{
    background-color: rgb(29, 175, 29);
}

.post-text{
    width: 100%;
    height: 4rem;
}

.Npost-buttons{
    padding-left: 10px;
}

.config-box{
    display: flex;
    justify-content: left;
    align-items: center;
}

.grid-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    height: 25vw;
}

.grid-image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-box{
    display: flex;
    justify-content: right;
}

.post-name{
    font-size: 30px;
}

.post-date{
    font-size: 25px;
    color: gray;
    display: flex;
    justify-content: right;
    align-items: center;
}

.post-standard{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
