body{
    margin: 0px;
}

div{
    border: 1px solid black;
}

.page-logo{
    font-family: 'Smooch', cursive;
    font-size: 30px;
    color: gray;
}

.new-post-box{
    display: flex;
    justify-content: right;
}

.button-standard{
    background-color: rgb(59, 230, 59);
    border: 0px;
}

.button-standard:hover{
    background-color: rgb(29, 175, 29);
}

.post-text{
    width: 100%;
    height: 4rem;
}

.Npost-buttons{
    padding-left: 10px;

}