body{
    margin: 0px;
}

div{
    border: 1px solid black;
}

.page-logo{
    font-family: 'Smooch', cursive;
    font-size: 30px;
    color: gray;
}

.new-post-box{
    display: flex;
    justify-content: right;
}

.new-post-button{
    background-color: rgb(59, 230, 59);
    border: 0px;
}